.img_div{
    max-width: 350px;
    max-height: 300px;
    overflow: hidden;
}
.trending_blogs{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
}
.main_blog .second_div{
    margin-left: 20px;
}
@media screen and (min-width:1300px) {
    .trending_blogs{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:950px) {
    .trending_blogs{
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .trending_blogs{
        grid-template-columns:auto;
    }
    .main_blog{
        display: flex;
        flex-direction: column;
    }
    .main_blog .second_div{
        margin-left: 0px;
    }
    .main_blog .img_blog_div{
        width: 100%;
    }
}
