.divider{
    width: 2px;
    height: 25px;
    background-color: #41383A;
}
.sign_up{
    background-color: #3e5abc;
    color: #f8f9f9;
    padding: 10px;
    border-radius: 5px;
}
.sections{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}
.sections a{
    padding: 0px 30px;
}
.sections .input_field{
    width: 40%;
}
.search_icon{
    padding: 7px;
}
.sections .input_field input{
    padding-left: 10px;
    color: #41383A;
    outline: none;
    padding: 7px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    /* transform: translateX(-100%); */
    /* transform: translateX(100%); */
}
.empty_input input{
    width: 0%;
}
.active_input input{
    width: 100%;
}
.input_field input[type=text]:focus {
    width: 100%;
}

/* Footer */
.footer{
    min-height: 300px;
    background-color: rgba(20, 28, 47, 0.9);
    border-radius: 15px;
    color: #f8f9f9;
    padding: 30px;
}
.footer .footer_content button{
    background-color: #3e5abc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.footer .footer_content button svg{
    margin-left: 10px;
}
.footer .footer_content .subscribe{
    display: flex;
    align-items: center;
}
.footer .footer_content .get_started{
    margin-left: 20px;
}
.footer .footer_content .get_started span{
    color: #a3aec4;
}
/* .footer .display_text{
    font-size: 25px;
} */

@media screen and (max-width:1500px) {
    .footer .footer_content p{
        max-width: 500px;
        line-height: 40px;
        margin-bottom: 30px;
    }
}